@model IEnumerable<MobileRecharge.Models.RechargeModel>

@{
    ViewData["Title"] = "Plans";
}

<h1 class="text-center" style="font-family: Arial, sans-serif; font-size: 2.5rem; color: #333;">Buy Plans</h1><hr/>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card card-custom">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h5 class="card-title">Plan :</h5>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.PlanName)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h5 class="card-title">Price :</h5>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h5 class="card-title">Desc :</h5>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            @if (User.IsInRole(SD.Role_Customer))
                            {
                                <a class="btn btn-primary" asp-action="Buy" asp-route-id="@item.Id">Buy</a>
                            }
                            <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

